.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.level-post {
  background-color: gray;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: gray;
  padding: 10px;
  margin: 20px;
}

#logout-indicator {
  background-color: gray;
  position: absolute;
  left: 10px;
  top: 10px;
}

button {
  background-color: white;
  border-color: white;
  color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

input {
  background-color: white;
  border-color: white;
  color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
