.App {
  text-align: center;
}

.App-header {
  background-color: #344d77;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.level-post {
  background-color: #c55a82;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: #c55a82;
  padding: 10px;
  margin: 20px;
}

#logout-indicator {
  background-color: #c55a82;
  position: absolute;
  left: 10px;
  top: 10px;
}

button {
  background-color: #ffd34b;
  border-color: #ffd34b;
  color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

input {
  background-color: #ffd34b;
  border-color: #ffd34b;
  color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
